<h1>My Progression over the years</h1>
<% @workhistory.each do |workhistory| %>
  <div class="workhistory">
    <h2><%= workhistory[:title] %></h2>
    <p><%= workhistory[:description] %></p>
  </div>
<% end %>

<ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About Me', about_path %></li>
    <li><%= link_to 'Contact Me', contact_path %></li>
  </ul>
